*{
    padding: 0;
    margin: 0;
 }
 .contenido {
    text-align: justify;
 }

 ul{
    display: flex;
    gap: 9%; 
    font-size: 30px;
    list-style-type: none;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
 }
 
 img {
    border-radius: 5%;
 }
 h3 {
    font-size: 200%;
 }

